<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8745342920718398"
     crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/global.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mukta:wght@200;300;400;500;600&display=swap" rel="stylesheet">
  <script src="/js/links.js"></script>
    <link rel="stylesheet" href="styles/homestyles.css">
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=62ac37553538ec0019733532&product=inline-share-buttons" async="async"></script>
    <title>Document</title>
    <!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '663029448500427');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=663029448500427&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
</head>
<body>
    <div class="container" id="header">
        <div style="font-family: " id="name">CAVETTA JOHNSON </div>
        <div style="padding-bottom: 20px;" class="container-sm text-center">Living life with intention. Live, don't just exist.</div>
    </div>

  
 

    
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" id="home" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/eBook">eBook</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/coaching">1 On 1 Coaching</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/merchandise">Merchandise</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About us</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li id="cart-symbol" style="padding-inline-start: 60px;" class="nav-item">
                <svg onclick="NewTab5()" style="" xmlns="http://www.w3.org/2000/svg" width="40" height="55" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
  <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
</svg>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  


    
    </nav>

  

    <div style="padding: 0 ;"class="container-fluid">
        <img src="./images/CAVETTA JOHNSON.png" class="img-fluid" alt="">
    </div>


    <div class="container" style="padding-top: 40px">
        <div class="row">
          <div class="col-md-6 text-center h-80 text-center d-flex align-self-center d-flex flex-column">
            <p style="font-size: 30px; font-weight: bold;">I finally decided to start living!</p>
            <p style="font-size: 18px; font-family: Ibarra Real Nova, serif "> 
                Hey hey hey! My name is Cavetta, and welcome to Life With Vetta. I am a mom to 2 amazing boys. Kal-El 16 And Jor-El 11. I have been divorced and a single mom for a few years now. Juggling raising the men of tomorrow, working, having a life outside of my boys (nonexistent). We LOVE to travel. I originally moved from Jamaica to California for college. The travel bug had bitten me and the need to see the world and what it has to offer has always been with me. I went on a few cruises before kids, traveled to different states and cities, exploring and wandering. When I found myself with 2 kids, alone I knew one of my first goals was to show them the world and let them see things outside of their comfort zone. We took our first cruise when they were itsy bitsy and had a blast. Since then, we traveled the states, city hopping and seeing their home country. We then trotted over to London and Paris when they were older and that struck a chord and lit a fire that was not going to be tamed by anything but travel and adventure. I had been thinking and considering being a digital nomad.</p>
          </div>
          <div class="col-md-6">
            <img src="images/IMG_3238.jpg" id="img-fluid" class="img-fluid" style="height: 700px; width: 1300px;" alt="">
          </div>
        </div>
      </div>



 <div class="container-fluid" style="background-color: #dd927c; border-radius: 5px;">
        <div class="row">
          <div class="col-lg-6 text-center h-80 text-center">
              <p id="travel"style="display: flex;
              
              justify-content: center;
              margin: 0;
              align-items: center;
              text-align: center;
              font-family: Dancing Script, 'sans serif';
              width: 80%;
              height: 50%;
              color: white;">So you want to travel the world</p>
              <p id="containpgraph"style=" display: flex;
              color: white;
             
              width: 100%;
              height: 20%;
              font-size: 30px;">I do not have millions in the bank but I am making it happen without stress or worry.</p>
              <button onclick="NewTab4()" id="downloadbtn" style="border: none;
              color: white;
              font-size: 30px;
              background-color: rgba(201,115,116,255);
              border-radius: 5px;
              cursor: pointer;
              ">Download!</button>
          </div>
          <div class="col-lg-6  text-center">
            <img src="images/Digital Download! (1).png" id="img-fluid" class="img-fluid" style="height: 700px; width: 1300px;" alt="">
          </div>
        </div>
      </div>

       <div style="" class="container">
          <div class="row d-flex justify-content-end text-center">
            <div style="font-size: 50px; padding-top: 60px" class="col-md-12">New On The Blog</div>
          </div>
        </div>

      <div class="container" >
        <div class="row d-flex justify-content-center">
          <div class="col-md-4 d-flex-direction row d-flex justify-content-center text-center">
            <img src="<%= posts.posts[0].image %>" id="img-fluid" class="img-fluid" style="line-height: 0%; height: 400px; width: 500px; display: block;
" alt="">
            <p style="font-size: 30px; word-break: break-word; width: 100%; text-align: center"><%= posts.posts[0].title %></p>
             <p id="desc1" style=" font-family: 'PT Serif', serif; font-size: 20px; word-break: break-word; width: 100%; text-align: center"></p>
            <button onclick="window.location.href='https://lifewithvetta.com/post/<%=posts.posts[0].id %>'" id="post-button" style="  border: none;
            color: white;
            font-size: 15px;
            background-color: #de8e7a;
            width: 30%;
            ">Read More!</button>
        </div>
            <div class="col-md-4 d-flex-direction row d-flex justify-content-center text-center">
              
                <img src="<%= posts.posts[1].image %>" id="img-fluid" class="img-fluid" style="height: 400px; width: 500px;" alt="">
                <p style="font-size: 30px; word-break: break-word; width: 100%; text-align: center"><%= posts.posts[1].title %></p>
                <p id="desc2" style=" font-family: 'PT Serif', serif; font-size: 20px; word-break: break-word; width: 100%; text-align: center"></p>
                <button onclick="window.location.href='https://lifewithvetta.com/post/<%=posts.posts[1].id %>'" id="post-button" style="  border: none;
                color: white;
                font-size: 15px;
                background-color: #de8e7a;
                width: 30%;
                ">Read More!</button>
          </div>
          <div class="col-md-4 d-flex-direction row d-flex justify-content-center text-center">
            <img src="<%= posts.posts[2].image %>" id="img-fluid" class="img-fluid" style="height: 400px; width: 500px;" alt="">
            <p style="font-size: 30px; word-break: break-word; width: 100%; text-align: center"><%= posts.posts[2].title %></p>
             <p id="desc3" style=" font-family: 'PT Serif', serif; font-size: 20px; word-break: break-word; width: 100%; text-align: center"></p>
            <button onclick="window.location.href='https://lifewithvetta.com/post/<%=posts.posts[2].id %>'" id="post-button" style="  border: none;
            color: white;
            font-size: 15px;
            background-color: #de8e7a;
            width: 30%;
           ">Read More!</button>
        </div>
      </div>

      </div>

  <div id="coachingmg" onclick="NewTab3()" style="padding-top: 60px ;"class="container-fluid">
  <img src="/images/CAVETTA JOHNSON (1).png" class="img-fluid" alt="">
  </div>

  <div style="padding: 0 ;"class="container-fluid" id="coachingmg" style="padding-top: 60px;">
        <img onclick="window.location.href='/monthlyplanner2023'" src="/images/plannerf.png" class="img-fluid" alt="">
    </div>
    
    <div style="padding-top: 60px ;"class="container-fluid" id="coachingmg">
        <img  src="/images/affirmationf.png" onclick="window.location.href='/affirmation'" class="img-fluid" alt="">
    </div>

        <div style="postion: absolute; padding-top: 40px; z-index: 2;" class="container">
          <div class="row d-flex justify-content-center text-center">
            <div style="font-size: 50px; padding-top: 40px" class="col-md-12">Best Sellers</div>
          </div>
        </div>
  
        <div class="container" >
        <div class="row d-flex justify-content-center">
          <div class="col-md-4 d-flex-direction row d-flex justify-content-center text-center">
            <img src="/images/merch4.webp" id="img-fluid" class="img-fluid" style="height: 500px; width: 500px;" alt="">
            <button onclick="window.location.href='/shirt/have-passport-will-travel'" id="post-button" style="  border: none;
            color: white;
              margin-bottom: 200px;
            font-size: 15px;
            background-color: #de8e7a;
            width: 30%;
            ">Buy Now!</button>
        </div>
            <div class="col-md-4 d-flex-direction row d-flex justify-content-center text-center">
                <img src="/images/merch5.webp" id="img-fluid" class="img-fluid" style="height: 500px; width: 500px;" alt="">
                <button onclick="window.location.href='/shirt/adventure-awaits'" id="post-button" style=" border: none;
                color: white;
                  margin-bottom: 200px;
                font-size: 15px;
                background-color: #de8e7a;
                width: 30%;
                ">Buy Now!</button>
          </div>
          <div class="col-md-4 d-flex-direction row d-flex justify-content-center text-center">
            <img src="/images/merch7.webp" id="img-fluid" class="img-fluid" style="height: 500px; width: 500px;" alt="">
            <button onclick="window.location.href='/shirt/passport-gang'" id="post-button" style="  border: none;
            color: white;
              margin-bottom: 200px;
            font-size: 15px;
            background-color: #de8e7a;
            width: 30%;
           ">Buy Now!</button>
        </div>
      </div>

      </div>
       <div id="whereweimage" style="padding-top: 60px ;"class="container-fluid">
  <img src="/images/CAVETTA_JOHNSON.png" class="img-fluid" alt="">
  </div>

  <div class="embedsocial-hashtag" data-ref="3ddc4b434731056e36aaed2a143a367270ef5904"><a class="feed-powered-by-es feed-powered-by-es-slider-new" href="https://embedsocial.com/social-media-aggregator/" target="_blank" title="Widget by EmbedSocial">Widget by EmbedSocial<span>→</span></a></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialHashtagScript"));</script>

  <div class="sharethis-inline-share-buttons"></div>


 <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
  <div class="container d-flex justify-content-center">
<div id="mc_embed_signup">
<form action="https://lifewithvetta.us17.list-manage.com/subscribe/post?u=00185bf2a1de8cb288591510c&amp;id=6538edd833" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
	<div id="mce-responses" class="clear foot">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_00185bf2a1de8cb288591510c_6538edd833" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <p class="brandingLogo"><a href="http://eepurl.com/h1fd1X" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
            </div>
        </div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
</div>


  
    <div style="padding: 0 ;"class="container-fluid">
        <img id="Safety" onclick="NewTab6()" src="./images/Safety.png" class="img-fluid" alt="">
    </div>

       

  
<script defer>
      function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
}
      var stringToHTML = function (str) {
	var dom = document.createElement('div');
	dom.innerHTML = str;
	return dom;
};      
    const description = document.getElementById("desc1")
      const html = decodeHtml('<%= posts.posts[0].description.slice(0, 300) + "..." %> %>')

   const htmlPlace = stringToHTML(html)
    description.appendChild(htmlPlace)

   const description2 = document.getElementById("desc2")
      const html2 = decodeHtml('<%= posts.posts[1].description.slice(0, 300) + "..." %> %>')

   const htmlPlace2 = stringToHTML(html2)
    description2.appendChild(htmlPlace2)

   const description3 = document.getElementById("desc3")
      const html3 = decodeHtml('<%= posts.posts[2].description.slice(0, 300) + "..." %> %>')

   const htmlPlace3 = stringToHTML(html3)
    description3.appendChild(htmlPlace3)
  </script>


      <script>
        function NewTab3() {
            window.open(
              "/coaching", "_blank");
        }
    </script>
  


  <script>
        function NewTab4() {
            window.open(
              "/ebook", "_blank");
        }
    </script>

  <script>
        function NewTab5() {
            window.open(
              "/cart", "_blank");
        }
    </script>


  <script>
        function NewTab6() {
            window.open(
              "https://safetywing.com?referenceID=Lifewithvetta&utm_source=Lifewithvetta&utm_medium=Ambassador", "_blank");
        }
    </script>
</body>

  

  

        



</html>